.mainBody{
    justify-content: center;
    text-align: center;
    background-color: #a7b391;
    width: 500px;
    color: black;
    margin: 5px auto;
    padding: 20px;
    font-size: 18px;
    
}